{# Include #}
{{ include("newartBundle:Expo:header.html.twig") }}


{# Nav-Left #}
{{ include("newartBundle:Expo:nav.html.twig") }}
{# END Nav-Left #}

{# Title & Search fields#}
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 topnae">
            <h1 class="text-center">{{ 'Conditions générales\n'|nl2br }}<span class="titlestyle"> CVG </span></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barre center-block"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 nae">

            <h2 class="text-center">Mentions légales</h2>

            <p>Directeurs de la publication : Pierre Bancheraud.</p>

            <p>Dénomination sociale : Newartexpo</p>

            <p>Contact mail : newartexpo@gmail.com</p>

            <p>CNIL : Ce site Web, qui comporte des informations nominatives concernant les artistes, a fait l'objet d'une déclaration
                auprès de la CNIL (déclaration N° 1578379). Conformément à la loi n° 78-17 du 6 janvier 1978, relative à l'Informatique,
                aux fichiers et aux Libertés (articles 38, 39, 40), vous disposez d'un droit d'accès, de rectification et de suppression
                des données vous concernant sur le site.</p>


            <h2 class="text-center">Conditions générales d’utilisation</h2>

            <h3 class="text-center"> PREAMBULE :</h3>

                Nos artistes ont ainsi la capacité :

            <p class="text-center">- De retranscrire leurs univers</p>
            <p class="text-center">- De disposer d’une exposition virtuelle</p>
            <p class="text-center">- De faire découvrir leurs œuvres</p>
            <p class="text-center">- De partager leurs actualités (vernissages, expositions, travaux en cours, vidéos, réflexions…)</p>
            <p class="text-center">- De tenir leurs livres d’or</p>
            <p class="text-center">- D’afficher le prix de leurs œuvres s’ils le souhaitent</p>
            <p class="text-center">- De partager un nombre illimité d’œuvres sur leurs books</p>
            </p>

            <h2 class="text-center">Comment avez-vous eu cette idée ?</h2>

            <p class="text-center">Deux des fondateurs de Newartexpo peignent depuis leur enfance. L’un d’entre eux voulait créer son propre
                site internet. En observant les différentes prestations pour l’établissement d’un tel site et l’émergence des différents
                réseaux sociaux sur internet, nous avons eu l’idée de construire un espace de partage pour tout artiste voulant exposer.
            </p>

            <h2 class="text-center">Quels sont vos objectifs aujourd’hui ?</h2>

            <p class="text-center">Les objectifs sont les suivants :

            <p class="text-center">- Etablir un curriculum vitae artistique qui accompagnera chacun de nos artistes à tout moment de leurs parcours.</p>
            <p class="text-center">- Découvrir de nouveaux talents et courants de pensées artistiques.</p>
            <p class="text-center">- Permettre à nos artistes d’établir des contacts avec d’autres artistes et amateurs d’art.</p>
            <p class="text-center">- Donner aux artistes une visibilité conséquente de leur travail sur la toile et dans le milieu artistique.</p>
            <p class="text-center">- Créer le Buzz autour du concept de réseau social exclusivement réservé aux artistes plasticiens et devenir le
                plus grand espace de la création plastique.</p>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barrenae">
            </div>
        </div>
    </div>
</div>

{{ include("newartBundle:Expo:footer.html.twig") }}
