{# Include #}
{{ include("newartBundle:Expo:header.html.twig") }}

{# Nav-Left #}
{{ include("newartBundle:Expo:nav.html.twig") }}
{# END Nav-Left #}

{# Title & Search fields#}
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 topnae">
            <h1 class="text-center">{{ 'Qu\'est ce que\n'|nl2br }}<span class="titlestyle"> New Art Expo ?</span></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barre center-block"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 nae">

            <p class="text-center">Newartexpo est un site communautaire d’artistes plasticiens. Nous avons mis en place Newartexpo pour que
                tout artiste puisse être vu et entendu sur un piedd’égalité sur son propre book. Chaque book étant relié à l’interface
                Newartexpo qui permet la promotion d’artistes et de leurs œuvres.</p>

            <h2 class="text-center">Pourquoi avoir crée cette plateforme ?</h2>

            <p class="text-center">Ce site permet aux artistes d’exposer l’ensemble de leurs travaux sur leurs propres espaces. Chaque artiste n’a pas toujours la capacité financière pour pouvoir se mettre davantage en avant. Le développement d’un site internet est très couteux et prend beaucoup de temps. NAE permet aux artistes de disposer d’un book performant tout en se délestant de la partie création du site.

                Nos artistes ont ainsi la capacité :

                <p class="text-center">- De retranscrire leurs univers</p>
                <p class="text-center">- De disposer d’une exposition virtuelle</p>
                <p class="text-center">- De faire découvrir leurs œuvres</p>
                <p class="text-center">- De partager leurs actualités (vernissages, expositions, travaux en cours, vidéos, réflexions…)</p>
                <p class="text-center">- De tenir leurs livres d’or</p>
                <p class="text-center">- D’afficher le prix de leurs œuvres s’ils le souhaitent</p>
                <p class="text-center">- De partager un nombre illimité d’œuvres sur leurs books</p>
            </p>

            <h2 class="text-center">Comment avez-vous eu cette idée ?</h2>

            <p class="text-center">Deux des fondateurs de Newartexpo peignent depuis leur enfance. L’un d’entre eux voulait créer son propre
                site internet. En observant les différentes prestations pour l’établissement d’un tel site et l’émergence des différents
                réseaux sociaux sur internet, nous avons eu l’idée de construire un espace de partage pour tout artiste voulant exposer.
            </p>

            <h2 class="text-center">Quels sont vos objectifs aujourd’hui ?</h2>

            <p class="text-center">Les objectifs sont les suivants :

                <p class="text-center">- Etablir un curriculum vitae artistique qui accompagnera chacun de nos artistes à tout moment de leurs parcours.</p>
                <p class="text-center">- Découvrir de nouveaux talents et courants de pensées artistiques.</p>
                <p class="text-center">- Permettre à nos artistes d’établir des contacts avec d’autres artistes et amateurs d’art.</p>
                <p class="text-center">- Donner aux artistes une visibilité conséquente de leur travail sur la toile et dans le milieu artistique.</p>
                <p class="text-center">- Créer le Buzz autour du concept de réseau social exclusivement réservé aux artistes plasticiens et devenir le
                plus grand espace de la création plastique.</p>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barrenae">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 topcontact">
            <h1 class="text-center"><span class="titlestyle"> Contact</span></h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <div class="barre center-block"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 contact">

            <p class="text-center">Tantum autem cuique tribuendum, primum quantum ipse efficere possis,
                deinde etiam quantum ille quem diligas atque adiuves, sustinere. Non enim neque tu possis,
                quamvis excellas, omnes tuos ad honores.
            </p>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 formcontact">

            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="form-group">
                        <label for="inputName3" class="col-sm-2 control-label"></label>
                        <div>
                            <input type="text" class="form-control" id="" placeholder="NOM, PRENOM">
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                        <div>
                            <input type="text" class="form-control" id="" placeholder="Mail">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 formcontact">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                        <div>
                            <input type="text" class="form-control" id="" placeholder="Sujet">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-11 col-md-offset-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="center-block"><textarea class="form-control contactmessage" rows="12" placeholder="Message"></textarea></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-1 newsbutton">
            <p class="text-center"><a href="#"><button type="button" class="btn btn-default buttonred">Envoyer</button></a><p>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('.click-nav > ul').toggleClass('no-js js');
        $('.click-nav .js ul').hide();
        $('.click-nav .js').click(function(e) {
            $('.click-nav .js ul').slideToggle(200);
            $('.clicker').toggleClass('active');
            e.stopPropagation();
        });
        $(document).click(function() {
            if ($('.click-nav .js ul').is(':visible')) {
                $('.click-nav .js ul', this).slideUp();
                $('.clicker').removeClass('active');
            }
        });
    });
</script>
{# footer #}

{{ include("newartBundle:Expo:footer.html.twig") }}
