{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
{#
    Template generate by CRUD
    Permet la creation de nouvelle actualité
#}
    <h1>Nouvelle actualité</h1>
    <div class="row">
        <div class="col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
            {{ form(form) }}
            <a href="{{ path('fos_user_profile_show') }}" class="btn-a">
                <button class="btn btn-default">
                        Retour au profile
                </button>
            </a>
        </div>
    </div>
{% endblock %}
